body {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #2E86C1;
    color: white;
    padding: 20px;
    text-align: center;
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
}

section {
    margin: 20px 0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.primary-color {
    color: #2E86C1;
}

.secondary-color {
    color: #28B463;
}

img {
    display: block;
    margin: 10px auto;
    border: 1px solid #ccc;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9em;
    color: #555;
}